body{
    background-image: url(jordan\ ni\ james.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 1390px;
}
 p{color: white;
    text-align: center;
    font: initial;
    position: relative;
    bottom: 420;
    right: 310;
    font-size: xx-large;
    font: bolder;
 }
h1{
    color: white;
    text-align: center;
    
}
h2{
    color: white;
    position: relative;
    bottom:390 ;
    left: 420;
    font-size: xx-large;
    font: bolder;
}
a{
    color: white;
    text-align: center;
    font: bolder;
    position: relative;
    bottom: 410;
    left: 420;
}
h3{
    color: white;
    position: relative;
    bottom: 390;
    left: 420;
    font-size: xx-large;
    font: bolder;
}
.containeru{
    color: white;
    position: relative;
    bottom: 350;
    left: 10;
    font-size: large;
    font: bolder;

}
.container{
    position: relative;
    bottom: 410;
    left: 420;
}
.shoes{
    filter: drop-shadow(0 0 20px);
    
}
h4{
    color: white;
    position: relative;
    bottom: 350;
    left: 10;
    font-size: large;
    font: bolder;


}
.container2{
    position: relative;
    bottom: 370;
    left: 10;
    font-size: xx-large;
    font: bolder;

}
.container3{
    color: white;
    text-align: center;
    font: bolder;
    position: relative;
    bottom:0;
    right:700;
}
.containerp{
    color: aliceblue;
    text-align:left;
    font: bolder;
    position: relative;
    bottom: 370;
}

h5{
    color: white;
    position: relative;
    bottom: 350;
    left: 10;
    font-size: large;
    font: bolder;

}
.containerb{
    color: white;
    position: relative;
    bottom: 350;
    left: 10;
    font-size: large;
    font: bolder;
    
}
  
.button{
    border-radius: 10px 10px;
    border-width: 11px;
    border-color: black,white ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
dl{
font-size: large;
}
ul{
    font-size: large;
}